:host {
  display: block;
  margin-bottom: 8px;
}

.cabecalho {
  background-color: #e0982a;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.cabecalho .titulo {
  font-weight: bold;
}

.cabecalho .status {
  font-size: smaller;
}

.opcao {
  padding: 7px 16px;

}